
.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center; 
    background-color:black;
    
}

.flex-container {
    display: flex;
}

.flex-container > div {
    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: 20px;
    border: 1px solid;
}

 .column {
    flex-direction: column;
  }

 .middle {
     align-items: center;
  }

  


  