body {
    background-image: url("https://terrigen-cdn-dev.marvel.com/content/prod/1x/_tony_card_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
nav {
    margin: 0;
    
    font-size: 1.5em;
}
ul {
    overflow:hidden;
    white-space:nowrap; 
    height: 25px;
    width: 100%;
    background-color:black;
    color: white;
    margin-left: 0;
    border: 0;
    padding-top:10px;
    padding-bottom:25px;

}

li {
    display:inline; 
    padding: 10px;
    
}

#brand {
    padding-right: 68vw;
    
}

#page {
    color: black;
    width: 500px;
    margin-left: 50px;
    margin-top: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

#page h1 {
    font-size: 3em;
}

#page p {
    font-size: 1.5em;
}

footer {
    margin-left: 0;
}

footer a {
    text-decoration: none;
    color: white;
    
}